.sidebar {
    -fx-background-color: #f2e8e4;
    -fx-padding: 15;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #5e4b43;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-alignment: center-left;
}

.nav-button:hover {
    -fx-background-color: #d9c1b3;
    -fx-background-radius: 10;
}

.logout {
    -fx-text-fill: #c0392b; /* tono más suave que #e74c3c */
}

.main-title {
    -fx-font-size: 24px;
    -fx-text-fill: #5e4b43;
    -fx-font-weight: bold;
}

.section-title {
    -fx-font-size: 16px;
    -fx-text-fill: #5e4b43;
    -fx-padding: 10 0 5 0;
}

.category-button {
    -fx-background-color: #d9bca3;
    -fx-text-fill: white;
    -fx-padding: 8 16;
    -fx-background-radius: 20;
}

.category-button:hover {
    -fx-background-color: #e6b7a9;
}

.book-card {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-padding: 10;
    -fx-border-color: #d9c1b3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 4, 0, 2, 2);
}

.button-same-size {
    -fx-pref-width: 150px;
}



